# Node modules
node_modules/

# Environment variables
.env

# Build folder (compiled TypeScript files)
dist/

# IDE related
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp

# Test files
*.spec.ts

# Configuration files
tsconfig.json
tslint.json
